{% extends 'base.html' %}
{% block content %}

{% if images %}
<ul id="flex-box">
  <li>
    {% for image in images %}
  
    <a href = "#{{image.id}}" data-toggle="modal">
      <img src="{{image.image.url}}" class="card-img-top" alt="{{image.image_name}} image" id="image_card">
    </a>
    <!-- Modal -->
    <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalScrollableTitle">{{image.image_name}}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-8">
                <img src="{{image.image.url}}" id="image-modal">
              </div>
              <div class="col-md-4">
                <h5>Posted on : {{image.post_date}}</h5>
                <span class="badge bg-secondary">{{image.location}}</span>
                
              </div>
            </div>
            <hr>
            {{image.image_description}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </li>
</ul>
{% endif %}
{% endblock %}